body {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 12px;
}

.root {
  margin: 40px auto;
  width: 480px;
}

.root div {
  margin-bottom: 10px;
}

.root div span:first-child {
  display: inline-block;
  width: 150px;
  font-size: 13px;
  background-color: lightyellow;
}

.root span {
  margin-right: 5px;
}

button {
  width: 60px;
  margin-right: 5px;
}

.timeclock {
  letter-spacing: 2px;
}

#remain {
  margin-top: 10px;
  font-size: 40px;
}
